.friend {
	padding: 200px 400px;
	display: flex;
	flex-direction: column;

	.title {
		color: #000000;
		font-size: 3rem;
		font-family: sourceHan-Medium;
		font-weight: bold;
	}
	.subTitle {
		color: #3c3c43c7;
		font-size: 2rem;
		font-family: sourceHan-Medium;
	}
	.loading {
		margin: 0;
		padding: 0;
		box-shadow: none;
		background-color: transparent;
		border-radius: 0;

		width: 80%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		p {
			color: #3c3c43c7;
			font-size: 1.4rem;
			font-family: sourceHan-Regular;
		}

		.loader {
			position: relative;
			width: 42px;
			height: 42px;
			border-radius: 10px;
			margin-bottom: 12px;

			div {
				width: 8%;
				height: 24%;
				background: rgb(128, 128, 128);
				position: absolute;
				left: 50%;
				top: 30%;
				opacity: 0;
				border-radius: 50px;
				box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
				animation: fade458 1s linear infinite;
			}

			.bar1 {
				transform: rotate(0deg) translate(0, -130%);
				animation-delay: 0s;
			}

			.bar2 {
				transform: rotate(30deg) translate(0, -130%);
				animation-delay: -1.1s;
			}

			.bar3 {
				transform: rotate(60deg) translate(0, -130%);
				animation-delay: -1s;
			}

			.bar4 {
				transform: rotate(90deg) translate(0, -130%);
				animation-delay: -0.9s;
			}

			.bar5 {
				transform: rotate(120deg) translate(0, -130%);
				animation-delay: -0.8s;
			}

			.bar6 {
				transform: rotate(150deg) translate(0, -130%);
				animation-delay: -0.7s;
			}

			.bar7 {
				transform: rotate(180deg) translate(0, -130%);
				animation-delay: -0.6s;
			}

			.bar8 {
				transform: rotate(210deg) translate(0, -130%);
				animation-delay: -0.5s;
			}

			.bar9 {
				transform: rotate(240deg) translate(0, -130%);
				animation-delay: -0.4s;
			}

			.bar10 {
				transform: rotate(270deg) translate(0, -130%);
				animation-delay: -0.3s;
			}

			.bar11 {
				transform: rotate(300deg) translate(0, -130%);
				animation-delay: -0.2s;
			}

			.bar12 {
				transform: rotate(330deg) translate(0, -130%);
				animation-delay: -0.1s;
			}
		}

		@keyframes fade458 {
			from {
				opacity: 1;
			}

			to {
				opacity: 0.25;
			}
		}
	}

	.container {
		width: 100%;
		height: auto;
		margin-top: 64px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		-webkit-user-select: none; /* Safari */
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* IE/Edge */
		user-select: none;

		.slot {
			margin: 32px;
			background-color: #3c3c4344;
			border-radius: 32px;
			transform: .2s;
		}
		.slot:hover {
			background-color: #3c3c4327;
		}

		.item {
			list-style: none;
			width: 400px;
			height: auto;
			padding-bottom: 32px;
			background-color: #ffffff;
			border-radius: 24px;
			box-shadow: 0 0 10px 1px #3c3c43c7;
			overflow: hidden;
			position: relative;
			flex-shrink: 0;

			.background {
				width: 100%;
				height: 100px;
				overflow: hidden;
				display: flex;
				justify-content: center;
				align-items: center;
				filter: blur(10px);
				img {
					width: 100%;
				}
			}
			.avatar {
				width: 128px;
				height: 128px;
				overflow: hidden;
				border-radius: 999px;
				position: absolute;
				left: calc(50% - (128px / 2));
				top: 50px;
				img {
					width: 100%;
					height: 100%;
				}
			}
			.text {
				margin-top: 128px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				.name {
					width: 85%;
					font-size: 1.5rem;
					font-family: sourceHan-Medium;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					text-align: center;
				}
				.username {
					font-size: 1rem;
					font-family: sourceHan-Medium;
					color: #3c3c43c7;
				}
				.bio {
					margin: 12px 0;
					font-size: 1.1rem;
					font-family: sourceHan-Regular;
				}
			}
			.a {
				margin-top: 32px;
				display: flex;
				justify-content: center;
				align-items: center;
				a {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					flex-grow: 1;

					svg {
						margin: 12px 0;
						color: #3c3c43c7;
						font-size: 1.6rem;
					}
					span {
						color: #3c3c43c7;
						font-size: 1rem;
						font-family: sourceHan-Regular;
					}
				}
				a:after {
					display: none;
				}
				.division {
					width: 2px;
					height: 48px;
					background-color: #3c3c436b;
					border-radius: 2px;
				}
			}
		}
	}
	.error {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		p {
			color: #3c3c43c7;
			font-size: 2rem;
			font-family: sourceHan-Regular;
			span {
				font-size: 2rem;
				margin-right: 12px;
			}
		}
	}
}

@media screen and (max-width: 450px) {
	.friend {
		padding: 80px 40px;

		.loading {
			p {
				font-size: 1.2rem;
			}
		}

		.container {
			.item {
				width: 80vw;
			}
		}
		.error {
			p {
				text-wrap: nowrap;
				font-size: 1.2rem;
				span {
					font-size: 1.2rem;
				}
			}
		}
	}
}
