.catalogue {
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.mainTitle {
		width: 1000px;
		span {
			margin: 0 10px;
			font-size: 3rem;
			font-family: sourceHan-Medium;
			font-weight: bold;
		}
	}
	ul {
		margin-top: 32px;
		li {
			width: 1000px;
			padding: 10px;
			list-style: none;
			margin-bottom: 32px;

			a {
				display: flex;
				justify-content: space-between;
				font-size: 1.2em;
				font-family: sourceHan-Medium;
				position: static;
				.time {
					color: #787670;
					font-family: sourceHan-Regular;
					flex-shrink: 0;
				}
			}
			a:hover {
				text-decoration: underline;
			}
			a:after {
				display: none;
			}
		}
	}
}

@media screen and (max-width: 450px) {
	.catalogue {
		width: calc(100vw - 64px);
		padding: 0 32px;
		.image {
			width: 20rem;
			height: 20rem;
		}
		ul {
			li {
				width: 20rem;
			}
		}
	}
}